.button {
  background-color: #3354ff;
  min-width: 200px;
  min-height: 50px;
  border-radius: 50px;
  border: none;
  &:hover {
    border: 3px solid #3354ff;
    font-weight: bold;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

.buttonContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
  font-size: 20px;
  padding: 20px;
}

.arrow {
  margin-left: 10px;
}
