.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  z-index: 1;
  background-color: #f2f2f2;
}
.open {
  max-width: 100%;
  transition: max-width 1.5s ease-in-out;
}
.close {
  max-width: 0;
  transition: max-width 1s ease-out;
}
