.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-end;
  padding: 10px;
}

.picture {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 5px;
}
