.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  min-height: 10em;
  min-width: 30vw;
}

.igButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Aquatico';
  padding: 10px;
  border-radius: 5px;
  font-weight: 300;
  cursor: pointer;
  &:hover {
    font-weight: bold;
  }
  > .igIcon {
    padding: 5px;
  }
}
