@font-face {
  font-family: 'aquatico';
  src: url('assets/fonts/aquatico-regular-webfont.ttf'),
    url('assets/fonts/aquatico-regular-webfont.woff2') format('woff2'),
    url('assets/fonts/aquatico-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Josefin Sans', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link {
  text-decoration: none;
}
