.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  flex: 1;
}

.title {
  font-size: 100px;
  font-weight: 100;
  color: #ffffff;
  margin-bottom: 0;
  font-family: 'aquatico', sans-serif;
}

.subtitle {
  margin-top: 0;
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  font-weight: 100;
  max-width: 500px;
}

.button {
  margin-top: 15vh;
}
